@charset "utf-8";

#index-container {
    background-image: url("../images/books-library-door.jpg");
    height: 100vh;
    padding-top: 200px;
    height: 100vh;
}

.btn a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}

.btn {
    height: 50px;
}

/* Books */
.container {
    background-color: antiquewhite;
    background-image: url("../images/background-book.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

label {
    font-weight: bolder;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}


h1 {
    margin: 20px;
}

.card-text {
    margin: 1px;
}
