@charset "utf-8";

#index-container {
    background-image: url("../images/books-library-door.jpg");
    height: 100vh;
    padding-top: 200px;
    height: 100vh;
}

#transparent_background {
    background-color: rgba(250, 250, 250,0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    padding: 500px auto;
}

#buttonDiv {
    position: relative;
    top: 200px;

}

.index-button {
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
}

.btn {
    height: 50px;
}

/* Books */

.container-fluid {
    background-color: antiquewhite;
    background-image: url("../images/background-book.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

label {
    font-weight: bolder;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}


h1 {
    margin: 20px;
}

.card-text {
    margin: 1px;
}

fieldset legend {
    color: aliceblue;
    font-weight: bold;
}